<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
     
 
  <gazebo>
     <plugin name="gz::sim::systems::DiffDrive" filename="gz-sim-diff-drive-system">
         <left_joint>left_wheel_joint</left_joint>
      <right_joint>right_wheel_joint</right_joint>
      <command_topic>cmd_vel</command_topic>
      <frame_id>odom</frame_id>
     
            <!-- output -->
      <publish_odom>true</publish_odom>
      <publish_odom_tf>true</publish_odom_tf>
      <publish_wheel_tf>true</publish_wheel_tf>
 
      <odometry_topic>odom</odometry_topic>
      <odometry_frame>odom</odometry_frame>
      <robot_base_frame>base_footprint</robot_base_frame>
 
    </plugin>
  </gazebo>
  <gazebo>
    <plugin filename="gz-sim-joint-state-publisher-system" name="gz::sim::systems::JointStatePublisher">
    </plugin>
 
</gazebo>
</robot>
 
 
